In [7]:
from openml import datasets
import pandas as pd


dataset_id = 4535
dataset = datasets.get_dataset(dataset_id)

X, y, _, _ = dataset.get_data(target=dataset.default_target_attribute)

print(f"Dataset name: {dataset.name}")
print(f"Description: {dataset.description[:200]}...")  
print("First 5 rows:")
X.head()

Dataset name: Census-Income
Description: **Author**: U.S. Census Bureau  http://www.census.gov/  United States Department of Commerce
**Source**: UCI
**Please cite**: Please refer to the Machine Learning Repository's citation policy

Sou...
First 5 rows:

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V33,V34,V35,V36,V37,V38,V39,V40,V41,V42
0,73,Not in universe,0,0,High school graduate,0.0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0.0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0.0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.